.header {
  height: 98vh;
  position: relative;
  background-image: linear-gradient(to right, $color-bg-1,
    $color-bg-2),
    url("/img/denys-nevozhai-duo-xV0TU7s-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100vw 0, 100vw 80vh, 0 100vh);
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}

